<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seventeenkouer.da.mapper.FuneralServiceItemMapper" >
  <resultMap id="BaseResultMap" type="com.seventeenkouer.da.model.FuneralServiceItem" >
    <id column="serviceItemId" property="serviceItemId" jdbcType="VARCHAR" />
    <result column="orderDetailId" property="orderDetailId" jdbcType="VARCHAR" />
    <result column="orderId" property="orderId" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="VARCHAR" />
    <result column="serviceId" property="serviceId" jdbcType="VARCHAR" />
    <result column="itemId" property="itemId" jdbcType="VARCHAR" />
    <result column="itemType" property="itemType" jdbcType="VARCHAR" />
    <result column="itemName" property="itemName" jdbcType="VARCHAR" />
    <result column="itemMainPic" property="itemMainPic" jdbcType="VARCHAR" />
    <result column="itemPrice" property="itemPrice" jdbcType="DECIMAL" />
    <result column="priceUnit" property="priceUnit" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
    <result column="updateTime" property="updateTime" jdbcType="BIGINT" />
    <result column="createUserId" property="createUserId" jdbcType="VARCHAR" />
    <result column="updateUserId" property="updateUserId" jdbcType="VARCHAR" />
    <result column="delFlag" property="delFlag" jdbcType="INTEGER" />
    <result column="totalPrice" property="totalPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    serviceItemId, orderDetailId, orderId, companyId, serviceId, itemId, itemType, itemName, 
    itemMainPic, itemPrice, priceUnit, amount, createTime, updateTime, createUserId, 
    updateUserId, delFlag, totalPrice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ju_fn_funeral_service_item
    where serviceItemId = #{serviceItemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ju_fn_funeral_service_item
    where serviceItemId = #{serviceItemId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.seventeenkouer.da.model.FuneralServiceItem" >
    insert into ju_fn_funeral_service_item (serviceItemId, orderDetailId, orderId, 
      companyId, serviceId, itemId, 
      itemType, itemName, itemMainPic, 
      itemPrice, priceUnit, amount, 
      createTime, updateTime, createUserId, 
      updateUserId, delFlag, totalPrice
      )
    values (#{serviceItemId,jdbcType=VARCHAR}, #{orderDetailId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=VARCHAR}, #{serviceId,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, 
      #{itemType,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{itemMainPic,jdbcType=VARCHAR}, 
      #{itemPrice,jdbcType=DECIMAL}, #{priceUnit,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{createUserId,jdbcType=VARCHAR}, 
      #{updateUserId,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.seventeenkouer.da.model.FuneralServiceItem" >
    insert into ju_fn_funeral_service_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceItemId != null" >
        serviceItemId,
      </if>
      <if test="orderDetailId != null" >
        orderDetailId,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="serviceId != null" >
        serviceId,
      </if>
      <if test="itemId != null" >
        itemId,
      </if>
      <if test="itemType != null" >
        itemType,
      </if>
      <if test="itemName != null" >
        itemName,
      </if>
      <if test="itemMainPic != null" >
        itemMainPic,
      </if>
      <if test="itemPrice != null" >
        itemPrice,
      </if>
      <if test="priceUnit != null" >
        priceUnit,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="createUserId != null" >
        createUserId,
      </if>
      <if test="updateUserId != null" >
        updateUserId,
      </if>
      <if test="delFlag != null" >
        delFlag,
      </if>
      <if test="totalPrice != null" >
        totalPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceItemId != null" >
        #{serviceItemId,jdbcType=VARCHAR},
      </if>
      <if test="orderDetailId != null" >
        #{orderDetailId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemMainPic != null" >
        #{itemMainPic,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        #{itemPrice,jdbcType=DECIMAL},
      </if>
      <if test="priceUnit != null" >
        #{priceUnit,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seventeenkouer.da.model.FuneralServiceItem" >
    update ju_fn_funeral_service_item
    <set >
      <if test="orderDetailId != null" >
        orderDetailId = #{orderDetailId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        serviceId = #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        itemId = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        itemType = #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        itemName = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemMainPic != null" >
        itemMainPic = #{itemMainPic,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        itemPrice = #{itemPrice,jdbcType=DECIMAL},
      </if>
      <if test="priceUnit != null" >
        priceUnit = #{priceUnit,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        createUserId = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        updateUserId = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        delFlag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        totalPrice = #{totalPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where serviceItemId = #{serviceItemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seventeenkouer.da.model.FuneralServiceItem" >
    update ju_fn_funeral_service_item
    set orderDetailId = #{orderDetailId,jdbcType=VARCHAR},
      orderId = #{orderId,jdbcType=VARCHAR},
      companyId = #{companyId,jdbcType=VARCHAR},
      serviceId = #{serviceId,jdbcType=VARCHAR},
      itemId = #{itemId,jdbcType=VARCHAR},
      itemType = #{itemType,jdbcType=VARCHAR},
      itemName = #{itemName,jdbcType=VARCHAR},
      itemMainPic = #{itemMainPic,jdbcType=VARCHAR},
      itemPrice = #{itemPrice,jdbcType=DECIMAL},
      priceUnit = #{priceUnit,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=BIGINT},
      createUserId = #{createUserId,jdbcType=VARCHAR},
      updateUserId = #{updateUserId,jdbcType=VARCHAR},
      delFlag = #{delFlag,jdbcType=INTEGER},
      totalPrice = #{totalPrice,jdbcType=DECIMAL}
    where serviceItemId = #{serviceItemId,jdbcType=VARCHAR}
  </update>




  <select id="xxx"></select>
  <select id="66"></select>
  <select id="vv"></select>
  <select id="bb"></select>
</mapper>