<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seventeenkouer.da.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.seventeenkouer.da.model.SysUser" >
    <id column="fid" property="fid" jdbcType="INTEGER" />
    <result column="fnumber" property="fnumber" jdbcType="VARCHAR" />
    <result column="floginid" property="floginid" jdbcType="VARCHAR" />
    <result column="fpassword" property="fpassword" jdbcType="VARCHAR" />
    <result column="fname" property="fname" jdbcType="VARCHAR" />
    <result column="FTYPE" property="ftype" jdbcType="VARCHAR" />
    <result column="FSTATUS" property="fstatus" jdbcType="BIT" />
    <result column="FDESCRIPTION" property="fdescription" jdbcType="VARCHAR" />
    <result column="FCTRLUNITID" property="fctrlunitid" jdbcType="VARCHAR" />
    <result column="FCREATORID" property="fcreatorid" jdbcType="VARCHAR" />
    <result column="FCREATETIME" property="fcreatetime" jdbcType="TIMESTAMP" />
    <result column="FRESPONSIBLER" property="fresponsibler" jdbcType="VARCHAR" />
    <result column="FTEL" property="ftel" jdbcType="VARCHAR" />
    <result column="FMOBILE" property="fmobile" jdbcType="VARCHAR" />
    <result column="postname" property="postname" jdbcType="VARCHAR" />
    <result column="user_fax" property="userFax" jdbcType="VARCHAR" />
    <result column="fename" property="fename" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fid, fnumber, floginid, fpassword, fname, FTYPE, FSTATUS, FDESCRIPTION, FCTRLUNITID, 
    FCREATORID, FCREATETIME, FRESPONSIBLER, FTEL, FMOBILE, postname, user_fax, fename, 
    area_code, area_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seventeenkouer.da.model.SysUser" >
    insert into sys_user (fid, fnumber, floginid, 
      fpassword, fname, FTYPE, 
      FSTATUS, FDESCRIPTION, FCTRLUNITID, 
      FCREATORID, FCREATETIME, FRESPONSIBLER, 
      FTEL, FMOBILE, postname, 
      user_fax, fename, area_code, 
      area_name)
    values (#{fid,jdbcType=INTEGER}, #{fnumber,jdbcType=VARCHAR}, #{floginid,jdbcType=VARCHAR}, 
      #{fpassword,jdbcType=VARCHAR}, #{fname,jdbcType=VARCHAR}, #{ftype,jdbcType=VARCHAR}, 
      #{fstatus,jdbcType=BIT}, #{fdescription,jdbcType=VARCHAR}, #{fctrlunitid,jdbcType=VARCHAR}, 
      #{fcreatorid,jdbcType=VARCHAR}, #{fcreatetime,jdbcType=TIMESTAMP}, #{fresponsibler,jdbcType=VARCHAR}, 
      #{ftel,jdbcType=VARCHAR}, #{fmobile,jdbcType=VARCHAR}, #{postname,jdbcType=VARCHAR}, 
      #{userFax,jdbcType=VARCHAR}, #{fename,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{areaName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.seventeenkouer.da.model.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fid,
      </if>
      <if test="fnumber != null" >
        fnumber,
      </if>
      <if test="floginid != null" >
        floginid,
      </if>
      <if test="fpassword != null" >
        fpassword,
      </if>
      <if test="fname != null" >
        fname,
      </if>
      <if test="ftype != null" >
        FTYPE,
      </if>
      <if test="fstatus != null" >
        FSTATUS,
      </if>
      <if test="fdescription != null" >
        FDESCRIPTION,
      </if>
      <if test="fctrlunitid != null" >
        FCTRLUNITID,
      </if>
      <if test="fcreatorid != null" >
        FCREATORID,
      </if>
      <if test="fcreatetime != null" >
        FCREATETIME,
      </if>
      <if test="fresponsibler != null" >
        FRESPONSIBLER,
      </if>
      <if test="ftel != null" >
        FTEL,
      </if>
      <if test="fmobile != null" >
        FMOBILE,
      </if>
      <if test="postname != null" >
        postname,
      </if>
      <if test="userFax != null" >
        user_fax,
      </if>
      <if test="fename != null" >
        fename,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="fnumber != null" >
        #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="floginid != null" >
        #{floginid,jdbcType=VARCHAR},
      </if>
      <if test="fpassword != null" >
        #{fpassword,jdbcType=VARCHAR},
      </if>
      <if test="fname != null" >
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="ftype != null" >
        #{ftype,jdbcType=VARCHAR},
      </if>
      <if test="fstatus != null" >
        #{fstatus,jdbcType=BIT},
      </if>
      <if test="fdescription != null" >
        #{fdescription,jdbcType=VARCHAR},
      </if>
      <if test="fctrlunitid != null" >
        #{fctrlunitid,jdbcType=VARCHAR},
      </if>
      <if test="fcreatorid != null" >
        #{fcreatorid,jdbcType=VARCHAR},
      </if>
      <if test="fcreatetime != null" >
        #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="fresponsibler != null" >
        #{fresponsibler,jdbcType=VARCHAR},
      </if>
      <if test="ftel != null" >
        #{ftel,jdbcType=VARCHAR},
      </if>
      <if test="fmobile != null" >
        #{fmobile,jdbcType=VARCHAR},
      </if>
      <if test="postname != null" >
        #{postname,jdbcType=VARCHAR},
      </if>
      <if test="userFax != null" >
        #{userFax,jdbcType=VARCHAR},
      </if>
      <if test="fename != null" >
        #{fename,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seventeenkouer.da.model.SysUser" >
    update sys_user
    <set >
      <if test="fnumber != null" >
        fnumber = #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="floginid != null" >
        floginid = #{floginid,jdbcType=VARCHAR},
      </if>
      <if test="fpassword != null" >
        fpassword = #{fpassword,jdbcType=VARCHAR},
      </if>
      <if test="fname != null" >
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="ftype != null" >
        FTYPE = #{ftype,jdbcType=VARCHAR},
      </if>
      <if test="fstatus != null" >
        FSTATUS = #{fstatus,jdbcType=BIT},
      </if>
      <if test="fdescription != null" >
        FDESCRIPTION = #{fdescription,jdbcType=VARCHAR},
      </if>
      <if test="fctrlunitid != null" >
        FCTRLUNITID = #{fctrlunitid,jdbcType=VARCHAR},
      </if>
      <if test="fcreatorid != null" >
        FCREATORID = #{fcreatorid,jdbcType=VARCHAR},
      </if>
      <if test="fcreatetime != null" >
        FCREATETIME = #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="fresponsibler != null" >
        FRESPONSIBLER = #{fresponsibler,jdbcType=VARCHAR},
      </if>
      <if test="ftel != null" >
        FTEL = #{ftel,jdbcType=VARCHAR},
      </if>
      <if test="fmobile != null" >
        FMOBILE = #{fmobile,jdbcType=VARCHAR},
      </if>
      <if test="postname != null" >
        postname = #{postname,jdbcType=VARCHAR},
      </if>
      <if test="userFax != null" >
        user_fax = #{userFax,jdbcType=VARCHAR},
      </if>
      <if test="fename != null" >
        fename = #{fename,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seventeenkouer.da.model.SysUser" >
    update sys_user
    set fnumber = #{fnumber,jdbcType=VARCHAR},
      floginid = #{floginid,jdbcType=VARCHAR},
      fpassword = #{fpassword,jdbcType=VARCHAR},
      fname = #{fname,jdbcType=VARCHAR},
      FTYPE = #{ftype,jdbcType=VARCHAR},
      FSTATUS = #{fstatus,jdbcType=BIT},
      FDESCRIPTION = #{fdescription,jdbcType=VARCHAR},
      FCTRLUNITID = #{fctrlunitid,jdbcType=VARCHAR},
      FCREATORID = #{fcreatorid,jdbcType=VARCHAR},
      FCREATETIME = #{fcreatetime,jdbcType=TIMESTAMP},
      FRESPONSIBLER = #{fresponsibler,jdbcType=VARCHAR},
      FTEL = #{ftel,jdbcType=VARCHAR},
      FMOBILE = #{fmobile,jdbcType=VARCHAR},
      postname = #{postname,jdbcType=VARCHAR},
      user_fax = #{userFax,jdbcType=VARCHAR},
      fename = #{fename,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>

  <select id="validateUser" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(1) from sys_user where floginid = #{account,jdbcType=VARCHAR} and fpassword = #{password,jdbcType=VARCHAR}
  </select>

</mapper>